@model Entities.Marka

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Marka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarkaAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarkaAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarkaAciklamasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarkaAciklamasi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EklenmeTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarkaLogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarkaLogo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
