@model IEnumerable<StokTakip.Entities.Siparis>

@{
    ViewBag.Title = "Siparişler";
}

<h2>Siparişler</h2>

<p>
    @Html.ActionLink("Yeni Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MusteriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MusteriSoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ulke)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiparisNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiparisTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeslimatTarihi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriSoyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiparisNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiparisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeslimatTarihi)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
