@model StokTakip.Entities.Marka

@{
    ViewBag.Title = "Sil";
}

<h2>Sil</h2>

<h3>Silmek istiyor musunuz?</h3>
<div>
    <h4>Marka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MarkaAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkaAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkaAciklamasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkaAciklamasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EklenmeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aktif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aktif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkaLogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkaLogo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Dön", "Index")
        </div>
    }
</div>
