@model Entities.Siparis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Siparis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusteriAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusteriAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusteriSoyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusteriSoyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulke)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeslimatTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeslimatTarihi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
