@model StokTakip.Entities.Urun

@{
    ViewBag.Title = "Ürün Detay";
}

<h2>@Model.UrunAdi</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kategori.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.KategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marka.MarkaAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marka.MarkaAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAciklamasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAciklamasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunFiyati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunFiyati) TL
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kdv)
        </dt>

        <dd>
            %@Html.DisplayFor(model => model.Kdv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StokMiktari)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StokMiktari)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim)
        </dt>

        <dd>
            <img src="~/Img/Urunler/@Model.Resim" alt="Resim yok" class="img-thumbnail" width="300" />
        </dd>

    </dl>
</div>
